/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: transform 0.3s ease-out;
    }
}
html, body{
    font-size: 13px;
    font-family: Poppins, Helvetica, "sans-serif";
}
.container{
    padding: 0 25px;
    max-width: 1340px;
    margin: 0 auto;

    @media (max-width: 1299px) {
        padding: 0 15px;
    }
}
.container-fluid{
    padding: 0 25px;

    @media (max-width: 1299px) {
        padding: 0 15px;
    }
}
.form-control{
    height: 3.078em;
    padding: 0.731em 1em;
    color: #3F4254;
    border: 1px solid #E4E6EF;
    border-radius: 0.42em;

    &:focus{
        border-color: #69b3ff;
        outline: 0;
        box-shadow: 0 0 0 2px rgb(62 121 247 / 20%);
    }
    &:hover:not(:disabled){
        border-color: #69b3ff;
    }
}
select.form-control:not([multiple]){
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 2.5em;
    background-image: linear-gradient(
            45deg
        , transparent 50%, gray 50%), linear-gradient(
            135deg
        , gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - .94em) 1.2em , calc(100% - .5em) 1.2em, calc(100% - 2em) 0.5em;
    background-size: .45em 0.45em, .45em 0.45em, 1px 1.9em;
    background-repeat: no-repeat;
    border: .1em solid #E4E6EF;


    &:focus{
        background-image: linear-gradient(45deg
        , #3599ff 50%, transparent 50%), linear-gradient(135deg
        , transparent 50%, #3599ff 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - .5em) 1em, calc(100% - .94em) 1em, calc(100% - 2em) 0.5em;
    }
}
.text-muted {
    color: #B5B5C3 !important;
}
.form-group{
    margin-bottom: 1.75rem;

    .text-muted{
        font-size: 0.9rem;
        font-weight: 400;
    }
}


.form-group.is-invalid{
    .select2-selection{
        border-color: #dc3545 !important;
    }
}

.btn{
    padding: 0.731rem 1rem;
    border-radius: 0.42rem;

    &:focus{
        box-shadow: none;
        outline: none;
    }
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    border-radius: 0.42rem;
    transition: top .2s;
}

.btn.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    background-color: #3699FF;
    border-color: #3699FF;

    &:hover{
        background-color: #187DE4;
        border-color: #187DE4;
    }
}
.btn.btn-secondary {
    color: #3F4254;
    background-color: #E4E6EF;
    border-color: #E4E6EF;

    &:hover{
        color: #3F4254;
        background-color: #d7dae7;
        border-color: #d7dae7;
    }
}
.btn.btn-success {
    color: #ffffff;
    background-color: #1BC5BD;
    border-color: #1BC5BD;

    &:hover{
        color: #ffffff;
        background-color: #0BB7AF;
        border-color: #0BB7AF;
    }
    &:not(:disabled):not(.disabled):active{
        box-shadow: 0 0 0 0.2rem rgb(22 173 166 / 26%);
        background-color: #16ada6;
        border-color: #16ada6;
    }
}
.btn.btn-danger {
    color: #ffffff;
    background-color: #F64E60;
    border-color: #F64E60;

    &:hover{
        color: #ffffff;
        background-color: #EE2D41;
        border-color: #EE2D41;
    }
}
.btn.btn-warning {
    color: #ffffff;
    background-color: #FFA800;
    border-color: #FFA800;

    &:hover{
        color: #ffffff;
        background-color: #EE9D01;
        border-color: #EE9D01;
    }
}
.btn.btn-info {
    color: #ffffff;
    background-color: #8950FC;
    border-color: #8950FC;

    &:hover{
        background-color: #7337EE;
        border-color: #7337EE;
    }
    &:not(:disabled):not(.disabled):active{
        background-color: #7337ee;
        border-color: #7337EE;
        box-shadow: 0 0 0 0.2rem rgb(115 55 238 / 27%);
    }
}
.btn.btn-light {
    color: #7E8299;
    background-color: #F3F6F9;
    border-color: #F3F6F9;

    &:hover{
        color: #7E8299;
        background-color: #E4E6EF;
        border-color: #E4E6EF;
    }
}
.btn-create{
    background-color: #5d78ff;
    border-color: #5d78ff;
    --bs-btn-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-hover-bg: #3758ff;
    --bs-btn-active-bg: #3758ff;
    --bs-btn-active-border-color: #2a4eff;
    --bs-btn-hover-color: #fff;

    svg g [fill]{
        fill: #ffffff;
    }
}
.btn.btn-dark {
    color: #ffffff;
    background-color: #181C32;
    border-color: #181C32;

    &:hover{
        color: #ffffff;
        background-color: #131628;
        border-color: #131628;
    }
}
.dropdown-item {
    display: flex;
    align-items: center;
    font-size: 14px;

    &:hover{
        //background-color: #F3F6F9;
    }
    &:focus{
        outline: none;
    }
    &:active{
        //color: #000000;
    }
}

.row {
    margin-right: -10px;
    margin-left: -10px;

    > .col,
    > [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
    }
}
.card{
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    border: 0;
    border-radius: 0.42rem;
}
.card-header{
    background-color: #ffffff;
    border-bottom: 1px solid #EBEDF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: .8rem 2.25rem;

    @media (max-width: 575px) {
        padding: .6rem 1.2rem;
    }
}
.card-header:first-child {
    border-radius: calc(0.42rem - 1px) calc(0.42rem - 1px) 0 0;
}
.card-title{
    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-weight: 500;
    font-size: 1.275rem;
    color: #181C32;
}
.card-body{
    padding: 2.25rem;

    @media (max-width: 1399px) {
        padding: 1.5rem;
    }
    @media (max-width: 1199px) {
        padding: 1.2rem;
    }
}
.card-footer{
    padding: 2rem 2.25rem;
    background-color: #ffffff;
    border-top: 1px solid #EBEDF3;
}
.card-footer:last-child {
    border-radius: 0 0 calc(0.42rem - 1px) calc(0.42rem - 1px);
}
.card-label{
    font-size: 1.275rem;
    margin-bottom: 0;
}
.custom-switch{
    padding-left: 2em;
    font-size: 18px;

    .custom-control-label{

        span{
            font-size: 14px;
            vertical-align: middle;
        }
    }
}
.custom-switch .custom-control-label::before{
    left: -2.25em;
    width: 1.75em;
    border-radius: 0.5em;
    height: 1em;
    top: 0.25em;
}
.custom-switch .custom-control-label::after{
    top: calc(0.25em + 2px);
    left: calc(-2.25em + 2px);
    width: calc(1em - 4px);
    height: calc(1em - 4px);
    border-radius: 0.5em;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after{
    transform: translateX(0.75em);
}
.custom-control-input:checked ~ .custom-control-label::before{
    color: #fff;
    border-color: #3699FF;
    background-color: #3699FF;
}
.custom-control-input:focus ~ .custom-control-label::before{
    box-shadow: none;
}
.custom-file-input{
    height: calc(1.5em + 1.3rem + 2px);

    &:focus ~ .custom-file-label{
        box-shadow: none;
    }
}
.custom-file-label{
    height: calc(1.5em + 1.3rem + 2px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.65rem 80px 0.65rem 1rem;
}
.custom-file-label::after{
    height: calc(1.5em + 1.3rem);
    padding: 0.65rem 1rem;
}
.subheader-left{
    display: flex;
    align-items: center;
}
.subheader-left-title{
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #434349;
    display: flex;
    align-items: center;
}
.breadcrumbs-separator-dot{
    display: flex;
    align-items: center;
    padding: 0 .35rem 0 0;

    &:after{
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        content: " ";
        background: #e7e8ef;
    }
}
.subheader-left-separator{
    display: block;
    border-radius: 2px;
    background: #e7e8ef;
    margin: 0 1rem 0 0;
    width: 1px;
    height: 22px;
}
.subheader-breadcrumbs{
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    .breadcrumbs-link:last-child {
        opacity: .5;
        pointer-events: none;
    }
}
.breadcrumbs-link{
    padding: 0 .35rem 0 0;
    font-size: 1rem;
    font-weight: 500;
    color: #959cb6;
    -webkit-transition: all .3s;
    transition: all .3s;

    &:hover{
        color: #5d78ff;
        text-decoration: none;
    }
}
.page-link{
    border: 1px solid #edeef7;
    border-radius: 4px;
    margin: 0 2px;

    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.page-item{

    &.active{

        .page-link{
            background: #5d78ff;
            z-index: 2;
        }
    }
}
.custom-file{
    height: calc(1.5em + 1.3rem + 2px);
}
.kt-switch {
    display: inline-block;
    font-size: 1rem
}

.kt-switch input:empty {
    margin-left: -999px;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0
}

.kt-switch input:empty~span {
    display: inline-block;
    position: relative;
    float: left;
    width: 1px;
    text-indent: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.kt-switch input:empty~span:before {
    background-color: #e8ebf1;
}
.kt-switch input:empty~span:after,.kt-switch input:empty~span:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    transition: all .1s ease-in
}

.kt-switch.kt-switch--icon input:empty~span:after {
    font-family: "Flaticon2", serif;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #e8e8e8;
    content: "\f1b1";
}
.kt-switch.kt-switch--icon input:checked~span:after {
    font-family: "Flaticon2", serif;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\f1af";
    color: #ffffff;
}

.kt-switch input:empty~span {
    line-height: 30px;
    height: 30px;
    width: 57px;
    border-radius: 15px;
}

.kt-switch input:empty~span:after,.kt-switch input:empty~span:before {
    width: 54px;
    border-radius: 15px
}

.kt-switch input:empty~span:after {
    height: 24px;
    width: 24px;
    line-height: 26px;
    top: 3px;
    bottom: 3px;
    margin-left: 3px;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    color: #f8f9fb;
    background-color: #fff;
}
.kt-switch input:checked~span:after{
    background-color: #5d78ff;
}
.kt-switch input:checked~span:after {
    margin-left: 26px
}




.menu-arrow{
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #5c5e81;
    border-left: 1px solid #5c5e81;
    transform: rotate(135deg);
    transition: all .3s;
    margin-left: auto;
}


.custom-radio-block{

    > div{
        display: flex;
    }
}
.custom-radio:checked,
.custom-radio:not(:checked) {
    position: absolute;
    left: -9999px;
}
.custom-radio:checked + label,
.custom-radio:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 0;
    height: 18px;
    margin-right: 15px;
    border-color: #3c3c3b;
}
.custom-radio:checked + label:before,
.custom-radio:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #d0d2da;
    border-radius: 100%;
    background: #ffffff;
}
.custom-radio:checked + label:after,
.custom-radio:not(:checked) + label:after {
    content: "";
    width: 18px;
    height: 18px;
    background: #5d78ff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    transition: all 0.3s ease;
}
.custom-radio:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
}
.custom-radio:checked + label:after {
    opacity: 1;
    transform: scale(.55);
}
.custom-radio:checked + label:before{
    border-color: #5d78ff;
}

.custom-checkbox{
    margin-right: 15px;

    @media (max-width: 991px){
        margin-right: 10px;
    }
    input[type=checkbox] {
        opacity: 0;
        z-index: -1;
        position: absolute;
    }

    input[type=checkbox] + label {
        position: relative;
        display: inline-block;
        padding: 0 0 0 25px;
        height: 18px;
        line-height: 18px;
        cursor: pointer;
        margin-bottom: 0;
        font-size: 1rem;
    }

    input[type=checkbox] + label::before,
    input[type=checkbox] + label::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }

    input[type=checkbox] + label::before {
        content: " ";
        border: 2px solid #d0d2da;
        border-radius: 2px;
        width: 18px;
        height: 18px;
    }

    input[type=checkbox] + label::after {
        content: " ";
        border: 2px solid #ffffff;
        border-top: none;
        border-right: none;
        line-height: 24px;
        height: 6px;
        left: 4px;
        top: 5px;
        width: 11px;
    }

    /* :checked */
    input[type=checkbox]:checked + label::before {
        background: #5d78ff;
        border-color: #5d78ff;
    }

    input[type=checkbox] + label::after {
        transform: scale(0);
    }

    input[type=checkbox]:checked + label::after {
        transform: scale(1) rotate(-45deg);
    }

    /* Transition */
    label::before,
    label::after {
        transition: 0.25s all ease;
    }
}
